body,
html {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  color: #053ba6;
}
.background {
  background: linear-gradient(-45deg, #00d2ff 40%, #054ba6 100%);
  min-height: 100%;
  height: auto;
  display: grid;
  grid-template-areas:
    'header header'
    'left form'
    'left content';
  grid-template-rows: 150px 100px 1fr;
  grid-template-columns: 1fr 1fr;
}

.header {
  grid-area: header;
  font-size: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  grid-area: left;
  padding: 80px;
  display: flex;
  justify-content: flex-end;
}

.image-container {
  display: flex;
  flex-direction: column;
}

.image {
  width: 100%;
  height: auto;
  border: 2px solid #053ba6;
  box-shadow: 0 1px 50px 2px #053ba6;
  border-radius: 3px;
}

.form {
  grid-area: form;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border-radius: 3px;
  border: none;
  padding: 8px 15px;
  width: 350px;
  font-size: 20px;
  outline: none;
  border: 2px solid #053ba6;
  box-sizing: border-box;
  height: 40px;
}

button {
  background-color: #00d2ff;
  color: #053ba6;
  border: 2px solid #053ba6;
  font-size: 22px;
  padding: 0 15px;
  border-radius: 3px;
  transition-duration: 0.4s;
  height: 40px;
}

button:hover {
  background-color: #053ba6;
  color: white;
}

.content {
  grid-area: content;
  display: flex;
  justify-content: center;
}

.weather-chart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 300px;
  height: 130px;
  margin-bottom: 12px;
  border: 2px dotted #053ba6;
  border-radius: 3px;
  box-shadow: 0 0 5px 2px #053ba6;
  padding: 0 5px;
}

.card li {
  padding: 2px;
}
